.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/_gsdata_/2019-0827-142356-GURUBACHAN-ASUS-hrms.atreyaassociates.com.log
/_gsdata_/*._gs
/_gsdata_/*.gsl
_gsdata_/2019-0904-194949-GURUBACHAN-ASUS-hrms.atreyaassociates.com.log
_gsdata_/2019-0905-121528-LAPTOP-GG4SVF8O-hrms_atreya.log
_gsdata_/2019-0905-125110-LAPTOP-GG4SVF8O-hrms_atreya.log
_gsdata_/2019-0905-125132-LAPTOP-GG4SVF8O-hrms.atreyaassociates.com.log
application/config/database.php
_gsdata_/2019-0912-191732-LAPTOP-GG4SVF8O-hrms_atreya.log
